@import url("https://use.typekit.net/bza2dpc.css");


html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color:#a6acb0;
  line-height:2;
  margin-bottom:4rem;
  font-size: 14px;
}

h1, h2, h3, h4 {
  font-family:'Futura PT', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}

.fade-anim img {
  animation: fadeAnim 0.5s ease-out;
}
@keyframes fadeAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@import url("https://use.typekit.net/bza2dpc.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

nav.nav-menu {
  left:-50%;
  position: fixed;
  transition: 350ms;
  z-index:50;
}

nav.nav-menu.active {
  left:0%;
  position: fixed;
  z-index:50;
  transition: 350ms;
  width: 100%;
}


button {
  background-color: #233681;
  color: white;
  padding: 0.5rem;
}

.error {
  display: none;
}






